
.parallax {
    /* The image used */
    background-image: url("../img/snek.png");
  
    /* Full height */
    height: 90%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
div {
    background: transparent;
    background-color: transparent;
}

.white {
    background-color: tan;
    opacity: 50%;
}